<launch>
    <!-- Load the tortoisebot URDF model into the parameter server -->
    <param name="robot_description" textfile="$(find tortoisebot)/tortoisebot.urdf" />
    <!-- Start Gazebo with an empty world -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"/> -->
    <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>
    <!-- Spawn a tortoisebot in Gazebo, taking the description from the parameter server -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description -urdf -model tortoisebot -x 8 -y -8" />
    <node name="robot_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher"/>

    <node name="map_server" pkg="map_server" type="map_server"
          args="$(find mapping)/maps/willow.yaml"/>

    <include file="$(find amcl)/examples/amcl_diff.launch"/>

    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <rosparam file="$(find tortoisebot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tortoisebot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tortoisebot)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tortoisebot)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tortoisebot)/config/base_local_planner_params.yaml" command="load" />
    </node>
</launch>